<%- include("header");-%>
        <section id="hero">
        <div class="container">
          <div class="hero-text">
        <h1>Good Food<br>Is<br>
          Good Mood.</h1>
          <button class="btn-dark btn-lg">Order Now!</button>
        </div>
      </div>
    </section>
      
     
      <section id ="quick-tabs">
      <div class="row icon">
        <div class="col-lg-4 col-md-6 col-sm-12 margin" >
         
        <i class="fas fa-hamburger fa-4x icon-color"></i><br><br>
        <h3>Ham-Burgers!</h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          
          <i class="fas fa-pizza-slice fa-4x icon-color"></i><br> <h3>Pizzas</h3>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <i class="fas fa-ice-cream fa-4x icon-color"></i><br><h3>Ice-cream</h3>
            </div>
      </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="col-3 ">
        <div class="card pr-2" >
          <img src="images/krustyburger.jpg" class="card-img-top krusty" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Krusty Burger and fries</h5>
            <p class="card-text">Extra Krunch for a roaring stomach.</p>
            <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Order now!</a>
          </div>
        </div>
      </div>
      <div class="col-3 ">
        <div class="card pr-2" >
          <img src="images/hotdog.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hotdog</h5>
            <p class="card-text">A hot dog with an interesting person is an amazing meal.</p>
            <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Order now!</a>
          </div>
        </div>
        </div>
        <div class="col-3 ">
        <div class="card pr-2" >
          <img src="images/pizza.jpg" class="card-img-top krusty" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pizza</h5>
            <p class="card-text">Most delicious,mouth watering pan pizzas in the neighbourhood!</p>
            <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Order now!</a>
          </div>
        </div>
        </div>
        <div class="col-3 ">
          <div class="card pr-2" >
            <img src="images/sabzi-roti.jpg" class="card-img-top krusty" alt="...">
            <div class="card-body">
              <h5 class="card-title">Indian-cuisine</h5>
              <p class="card-text">finger licking indian food for all the spice lovers</p>
              <a href="#" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Order now!</a>
            </div>
        </div>
        </div>
      </section>
      
          <div id="carousel">
             <figure>
              <img src="images/pizza.jpg" alt="" >
              <img src="images/pavbhaji.jpg" alt="">
              <img src="images/Margarita.jpg" alt="">
              <img src="images/biryani.jpg" alt="">
              <img src="images/sabzi-roti.jpg" alt=""><br>
              </figure>
             </div>
        
      <section id="testimonials">
        <div class="inner">
          <h1>Testimonials</h1>
          <div class="border"></div>
          <div class="row">
            <div class="col">
              <div class="testimonial">
              <img class="person" src="/images/person-1.jpg">
              <p class="name">Kartik Gupta</p>
              <div class="stars">
                <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              </div>
              <p>Lorem ipsum dolor sit, amet consectetur
                 adipisicing elit.aspernatur quis dolores dolor
                 solut  aperiam debitis distinctio illum 
                 quia fugit ut veniam laboriosam.</p>
              
            </div>
          </div>
          <div class="col">
            <div class="testimonial">
            <img class="person" src="/images/person-1.jpg">
            <p class="name">Kartik Gupta</p>
            <div class="stars">
              <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur
               adipisicing elit.aspernatur quis dolores dolor
               solut  aperiam debitis distinctio illum 
               quia fugit ut veniam laboriosam.</p>
            
          </div>
        </div>
        <div class="col">
          <div class="testimonial">
          <img class="person" src="/images/person-1.jpg">
          <p class="name">Kartik Gupta</p>
          <div class="stars">
            <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          </div>
          <p>Lorem ipsum dolor sit, amet consectetur
             adipisicing elit.aspernatur quis dolores dolor
             solut  aperiam debitis distinctio illum 
             quia fugit ut veniam laboriosam.</p>
          
        </div>
      </div>
      
        </div>
       
      </section>
      <section id="aboutus" style="background-color: #0D98BA;">
        
        <div class="heading">
          <h1>About us</h1>
          <div class="border"></div>
        </div>
        
        <div class="mission-text">
          <h4>Our mission is to to provide the highest quality food at the lowest possible<br>
             price, the best consumer experience in the industry, and respect for our employees,<br>
              business partners, and community.</h4>
        </div>
      </section>
      <div class="row ourchef">
        <div class="chefpic col-lg-6 col-sm-12">
          <img src="images/FJchef.jpg" alt=".." width="70%">
        </div>
        <div class="text col-lg-6 col-sm-12">
            <h1>Our Chef</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
               Temporibus quo debitis aut tempora voluptatem libero <br>
                pariatur cupiditate, maxime dolore soluta ad in, <br>
              incidunt asperiores cum. Nemo dolorum placeat dolore.</p>
        </div>
          
      </div>
      <div class="hours">
        
        <div class="hour-bg">
          <h1>Opening Hours</h1>
          <p><span>10:00AM</span> to   
          <span>11:00PM</span></p>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <%- include("footer");-%>
   
</body>
</html>