<%- include("header");-%>
<div class="sidebar">
    <div class="activity"><a href="#"> ACTIVITY</a></div>
    <div>Order Online</div>
    <div>Table Booking</div>

</div>
<div class="body-text">
    You are now logged in
</div>


